<div class="jumbotron">	
	<h1>About Pinteresting. . . </h1>
	<h2>Built with Ruby on Rails</h2>
	<p>- Created by Ryan Dandrow</p>
	<h2>There is still more work in progress:</h2>
		<p>- Like Button for pins</p>
		<p>- User Profiles</p>
		<p>- Ability to comment on pins</p>
	<h2>You can check out all my Pinteresting source code on Github: <a href="https://github.com/RyanDandrow/pinteresting" target="_blank">
	<span class="glyphicon glyphicon-leaf"></span>
	</h2>
</div>